/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/samarkan');

/* setting default edges to null */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lugrasimo", cursive, Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Ensure containers have padding and margin reset */
.row,
.container,
.container-fluid {
  padding: 0;
  margin: 0;
}

/* Ensure full height for body and html elements */
body,
html {
  height: 100%;
}

/* Background image covering entire page */
.page {
  background: url("../images/page.webp") center/cover no-repeat;
  height: 150%;
 
}

/* Styling Quiz Header */
.title {
  -webkit-text-emphasis-color: #900a0a;
  text-emphasis-color: #900a0a;
  float: left;
  font-family: 'Samarkan', Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #0C3D40;
  margin: 30px 0 0 50px;
}

/* Styling Modal buttons */
div#instructions.modal {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  right: 50%;
  height: 56%;
  width: 50%;
  -webkit-transform: translate(-51%, -3%);
      -ms-transform: translate(-51%, -3%);
          transform: translate(-51%, -3%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 10;
  border: 0.5px solid #800707;
  border-radius: 6px;
  padding: 2%;
  text-align: center;
  letter-spacing: .05em;
  overflow: auto;
}

button.btn {
  color: #ea070b;
  font-family: small "Lugrasimo", cursive, Arial, Helvetica, sans-serif;
}

span.close {
  color: #ffffff !important;
  float: right;
  font-size: 28px;
}

span.close:hover {
  color: #ea070b !important;
  text-decoration: none;
}

.cl {
  display: none;
}

#guide-list {
  text-align: left !important;
}

/* Styling menu elements */
.menu-items {
  float: right;
  margin: 55px 50px 0 0;
  font-family: "Lugrasimo", cursive, Arial, Helvetica, sans-serif;
  color: #f9fbfb;
}

.menu-items li {
  background-color: #0C3D40;
}

/**Stylize Quiz box**/
main.container-fluid {
  height: 80vh;
  border: 1px solid #000000;
  overflow: hidden;
  position: relative;
  padding: 2%;
  /* Adjusted for shorthand */
}

.question-box {
  background-color: rgba(248, 216, 100, 0.8);
  color: rgb(4, 4, 4);
  border: 0.5px solid #800707;
  border-radius: 6px;
  font-family: "Space Mono", monospace, Arial, Helvetica, sans-serif;
  font-weight: 400;
  height: 10vh;
}

/** Stylize the answer option buttons and classes that are to be applied based on user interaction **/
p.ans {
  width: 42%;
  cursor: pointer;
}

.ans {
  background-color: rgba(248, 216, 100, 0.6);
  color: #800707;
  height: 6vh;
  border: 0.5px solid #800707;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 10px;
  width: 42%;
  cursor: pointer;
}

.green {
  background-color: green;
}

.red {
  background-color: #ea070b;
}

#option1,
#option2,
#option3,
#option4,
#next {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 42%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-bottom: 10px;
  max-width: 100%;
  padding: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
  cursor: pointer;
}

#next {
  background-color: rgba(248, 216, 100, 0.6);
  color: #800707;
  font-size: large;
  font-weight: 700;
  height: 6vh;
  border: 0.5px solid #800707;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 10px;
  width: 42%;
  cursor: pointer;
}

/* Styling for responsive UX */

/* For larger to medium screens size from 1300px wide and down */
@media screen and (max-width: 1500px) {
  .title {
    -webkit-text-emphasis-color: #900a0a;
  text-emphasis-color: #900a0a;
  float: left;
  font-family: 'Samarkan', Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #0C3D40;
  margin: 30px 0 0 50px;
  }

  .container {
    width: 60%;
  }
}

/* For small screen sizes from 768px wide and down */
@media screen and (max-width: 768px) {
  .title {
    color: #0C3D40;
    font: 500 1em/1 'Samarkan', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: x-large;
    margin: 30px 0 0 50px;
  }

  .ans {
    margin-left: 0%;
    height: fit-content;
  }

  .container {
    width: 22.875rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .container {
    width: 63%;
    height: 95%;
  }

}

/* For very small screen sizes from 450px wide and down */
@media screen and (max-width: 450px) {

  /* index.html page */
  .title {
    color: #0C3D40;
    font: 500 1em/1 'Samarkan', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: x-large;
  }

  .ans {
    margin-left: 0%;
    height: fit-content;
  }

  .container {
    font-size: 236%;
    margin-left: 25px;
    margin-bottom: -3.5rem;

  }
}

/* For very small screen */
@media screen and (max-width: 320px) {
  h1.title {
    color: #0C3D40;
    font: 500 1em/1 'Samarkan', Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: large;
  }
  .ans {
    margin-left: 0%;
    height: fit-content;
  }
}